In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
cc_data = pd.read_csv('C:/Users/Lakshay/Desktop/creditcard.csv')

In [7]:
cc_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [10]:
cc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [11]:
#Checking no. of missing values in each column

In [13]:
cc_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [14]:
# distribution of legit VS fraudulent transactions

In [15]:
cc_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [16]:
#Dataset is highly unbalanced.

In [18]:
#0 - Normal transaction
#1 - Fraud transaction

In [19]:
# Separating the Data for Analysis

In [20]:
legit = cc_data[cc_data.Class == 0]

In [21]:
fraud = cc_data[cc_data.Class == 1]

In [24]:
print(fraud.shape)

(492, 31)

In [26]:
#Statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [27]:
#Statistical measures of the data
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [28]:
#Compare values for both transactions

In [29]:
cc_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [30]:
#Under-sampling

In [31]:
#BUILD A SAMPLE DATASET HAVING SIMILAR DISTRIBUTION OF NORMAL & FRAUD TRANSACTIONS

In [32]:
#no. of fraud transc. - 492

In [34]:
legit_sample = legit.sample(n=492)

new_dataset = pd.concat(legit_sample,fraud)

In [36]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [37]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
76360,56532.0,1.247878,-0.475099,-0.066936,-0.540814,-0.614941,-0.519403,-0.405798,-0.113427,-1.049921,...,0.001237,-0.092238,-0.133749,-0.022587,0.507568,-0.309328,0.013626,0.038162,75.13,0
211194,138303.0,2.057930,-0.327732,-2.726419,-0.775523,2.454901,3.198474,-0.451752,0.733267,0.487501,...,0.256416,0.789349,0.040269,0.738357,0.289607,-0.080795,0.002805,-0.064285,1.00,0
109880,71582.0,-6.055734,1.306701,-3.741489,-2.243268,-8.038598,2.907841,0.228136,-6.058798,1.549761,...,-1.261820,1.197629,-1.250412,0.623806,-0.900891,-1.027195,-0.211956,-1.649434,1069.49,0
164124,116472.0,-1.869497,-1.690397,1.615253,-3.024054,-1.143663,0.387372,-1.414550,0.961156,-1.826198,...,0.249024,0.321333,0.007998,0.123280,0.454713,-0.087187,0.149271,-0.077229,152.65,0
142562,84791.0,-3.923912,0.849815,-0.425365,-0.947960,0.003406,0.136252,1.394415,-0.935365,0.933449,...,-0.712140,-1.360173,0.412088,-0.825432,-0.334618,0.284046,-3.011481,0.754236,103.80,0

In [39]:
new_dataset.shape

(984, 31)

In [42]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [43]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93821.630081,-0.022506,0.120874,0.032483,-0.052018,-0.053180,-0.119757,0.035983,-0.028422,-0.042161,...,0.024117,-0.004055,-0.068586,-0.015011,0.048888,0.033576,0.020797,-0.013023,0.007914,86.179431
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [44]:
#Splitting data into Features & Targets

In [45]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [47]:
print(Y)

76360     0
211194    0
109880    0
164124    0
142562    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [48]:
#Split Data into training and testing data

In [49]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [50]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [51]:
# MODEL TRAINING

In [52]:
#Logistic Regression

In [53]:
model = LogisticRegression()

In [55]:
#Training the Logistic Regressional model with Training Data

In [56]:
model.fit(X_train,Y_train)

C:\Users\Lakshay\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [58]:
# Model Evaluation- Accuracy Score

In [59]:
X_train_prediction = model.predict(X_train)
training_Data_Accuracy = accuracy_score(X_train_prediction,Y_train)

In [60]:
print("Accuracy on training data:",training_Data_Accuracy)

Accuracy on training data: 0.9491740787801779

In [61]:
# Accuracy on test Data

In [62]:
X_test_prediction = model.predict(X_test)
test_Data_Accuracy = accuracy_score(X_test_prediction,Y_test)

In [64]:
print("Accuracy on Test Data: ",test_Data_Accuracy)

Accuracy on Test Data:  0.934010152284264